.tasks-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.task-card {
  background-color: #383838;
  padding: 20px;
  flex: 0 0 300px;
}

.delete-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #e60000;
}
